<div>
    <h2>Single Restaurant: {{restaurant.name}}</h2>
    
  
<h3>{{thisMenu.title}}</h3>
   <ul>
       {{#each items}}

         <li> {{this.name}}_ {{money this.price}}</li>

       {{/each}}
  
   
        {{!-- {{#if this.title === ../thisMenu.title}} 
            {{#each this.MenuItems}}
                <li>{{this.name}}-{{this.price}}</li>
            {{/each}}
        {{/if}} --}}
    
      
    
       
    
  

    <img class="item-img" src="{{restaurant.image}}"/>


</div>

      
