<div>
    <h2>Single Restaurant: {{restaurant.name}}</h2>
    
  
<h3>{{thisMenu.title}}</h3>
  <table>
     
       {{#each items}}
       <tr>
            <td>{{this.name}}</td>
            <td>{{money this.price}}</td>
    </tr>
       {{/each}}
    
    
</table>
<img class="item-img" src="{{restaurant.image}}"/>
</div>

      
